global
    log stdout format raw local0

defaults
    log     global
    mode    tcp
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend stats
    mode http
    bind 0.0.0.0:1936
    stats enable
    stats uri /
    stats refresh 2s

frontend espx_broker_front
    bind 0.0.0.0:9092
    default_backend espx_broker_back

backend espx_broker_back
    mode tcp
    option httpchk GET /healthz
    http-check expect status 200
    default-server inter 2s fall 2 rise 2
    server broker-1 broker-1:9092 check port 8081
    server broker-2 broker-2:9092 check port 8081
